* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 170;
  --primary-color: #1b1b1b;
  --secondary-color: #e8e80e;
  --bg-light: #ffffff;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--primary-color);
}

.hidden {
  display: none; /*PARA ESCONDER OS ARTICLES*/
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.logo {
  text-decoration: none;
  color: var(--secondary-color);
}
.logo h1 i {
  font-size: 2rem;
}

.logo h1 span {
  color: white;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section:not(#choose-professional) {
  padding-block: 10rem;
  padding-inline: 2rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*=================== NAVIGATION =================================*/
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
  backdrop-filter: blur(1rem);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*======================= MENU-EXPANDED =================================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-direction: column;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 500ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul:nth-child(1) a:hover {
  color: var(--secondary-color);
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

/*================== HOME =================================*/

#home {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

#home p {
  color: var(--bg-light);
  font-size: 4.2rem;
  line-height: 6rem;
}

#home .arrow-down {
  animation: up-and-down 4s infinite;
  background-color: #e8e80e;
  border-radius: 100%;
  display: flex;
  width: 7rem;
  height: 7rem;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0rem);
  }
  30% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/*================== SERVICES =================================*/

#services h1:first-child {
  color: var(--secondary-color);
  font-size: 3.4rem;
}

#services article {
  margin-top: 5rem;
}

#services article h3::before {
  content: "";
  display: inline-block;
  width: 5%;
  height: 0.2rem;
  background-color: var(--secondary-color);
}

#services article ul h3 {
  font-size: 2rem;
  color: var(--bg-light);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#services article h3::after {
  content: "";
  display: inline-block;
  width: 5%;
  height: 0.2rem;
  background-color: var(--secondary-color);
}

#services article h2 {
  color: var(--bg-light);
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
}

#services article h2::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--secondary-color);
}

#services article ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
  gap: 1rem;
}

#services article ul li {
  color: var(--bg-light);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

#services article ul li p {
  max-width: 75%;
  text-align: left;
}

#services article ul li i {
  opacity: 50%;
  width: 100%;
  text-align: start;
}

#services article ul li i span {
  float: right;
}


/*================== AESTHETICS =================================*/

#choose-professional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 4rem;
}

#choose-professional .btn-andreia {
  border: 0;
  background-color: var(--secondary-color);
  font-size: 2.6rem;
  padding-block: 1rem;
  padding-inline: 9%;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
}

#choose-professional .btn-cyntia {
  border: 0;
  background-color: var(--secondary-color);
  font-size: 2.6rem;
  padding-block: 1rem;
  padding-inline: 12%;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
}

#choose-professional .btn-andreia:hover,
#choose-professional .btn-cyntia:hover {
  filter: brightness(0.8);
}

/*================== FOOTER =================================*/

.divisor {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

#back-to-top {
  border: 0;
  border-radius: 100%;
  background-color: var(--secondary-color);
  padding: 0.3rem;
}

.line-divisor {
  background-color: var(--secondary-color);
  width: 100%;
  height: 0.2rem;
  display: inline-block;
}

footer {
 padding: 4rem;
}

footer .credits {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  text-decoration: none;
  color: var(--secondary-color);
}
.footer-logo h2 i {
  font-size: 2rem;
}

.footer-logo h2 span {
  color: white;
}

footer blockquote {
  color: var(--bg-light);
  margin-top: 3rem;
  opacity: 20%;
}
